In [1]:
import pandas as pd

In [2]:
path = "../Data/Online_Data/trainning_data/corporate_attributes/"
outpath = "../Processed_Data/"

In [3]:
company_ar_socialfee = pd.read_csv(path+'company_ar_socialfee.csv')
company_ar_socialfee.head()

<ipython-input-3-0ae36a172c65>:1: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  company_ar_socialfee = pd.read_excel(path+'company_ar_socialfee.xlsx')

,entid,ispublic,ANCHEYEAR,so1,so2,so3,so4,so5,totalWagesSo1,totalWagesSo2,...,REGCAPCUR,RECCAP,PARNUM,LIMPARNUM,PARFORM,EXENUM,brand_num,cancel_dum,certificate_num,tax_dum
0,272347642,1.0,2016.0,-0.653784,-0.602713,-0.357935,1.391685,-0.049549,0.846178,-2.542993,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,432161556,1.0,2016.0,-0.883412,0.677451,0.152510,-1.034647,-1.617859,0.433976,-0.769230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,730888062,1.0,2016.0,0.260645,0.826006,0.416774,-0.489677,1.563329,-1.002218,0.950197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,790901023,1.0,2016.0,3.543261,3.848212,3.247752,6.315798,5.451598,6.258752,-0.710563,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,208114644,1.0,2016.0,94.399780,95.629656,94.061538,94.762503,94.384371,-2.902077,0.128897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
company_ar_socialfee.shape

(10396, 39)

In [17]:
# only keep the latest data
company_ar_socialfee = company_ar_socialfee[company_ar_socialfee['ispublic'] == 1]
company_ar_socialfee = company_ar_socialfee.sort_values(by = 'ANCHEYEAR')

In [18]:
company_ar_socialfee.shape

(397, 39)

In [20]:
# company_ar_socialfee.isna().sum()

In [21]:
numerical_columns = ['so1', 'totalWagesSo1', 'totalPaymentSo2', 'unPaidSocialInsSo1']

In [22]:
def get_numerical_df(df, columns):
    keep_columns = columns + ['entid']
    df_numerical = df[keep_columns].groupby("entid")
    df_numerical = df_numerical.mean()
    df_numerical = df_numerical.reset_index()
    return df_numerical

In [23]:
df_numerical = get_numerical_df(company_ar_socialfee, numerical_columns)
df_numerical.shape

(286, 5)

In [24]:
df_numerical.head()

      entid         so1  totalWagesSo1  totalPaymentSo2  unPaidSocialInsSo1
0  15678213    0.856103      -0.084776        -0.045552           -0.867147
1  19850270    0.175454      -0.283259        -0.030511           -0.950682
2  23965087    1.895081       0.361952        -0.555468           -0.575343
3  32025878   -0.184265       0.712524        -0.106622            0.502909
4  39306954  149.280767     509.297915         5.833177            0.247615

In [25]:
df_numerical.isna().sum()

entid                 0
so1                   0
totalWagesSo1         4
totalPaymentSo2       5
unPaidSocialInsSo1    6
dtype: int64

In [11]:
df_numerical.to_csv(outpath+'company_ar_socialfee_processed.csv')