In [1]:
import pandas as pd
import numpy as np

In [51]:
path = "../Data/Online_Data/trainning_data/corporate_attributes/"
outpath = "../Processed_Data/"

In [52]:
df_tax_abn = pd.read_csv(path+'tax_abnormal.csv')
df_tax_abn.head(2)

<ipython-input-52-0e68c0b00feb>:1: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  df_tax_abn = pd.read_excel(path+'tax_abnormal.xlsx')

       entid  tax_type  tax_state cdate  ttype  province
0  722691858         1          0   NaT      2         1
1  705310922         1          0   NaT      2         1

In [53]:
df_tax_abn['province'].value_counts()

2    198
1     55
5     39
8     22
0     19
3     11
7      7
9      5
4      2
6      1
Name: province, dtype: int64

In [20]:
df_tax_abn.shape

(359, 6)

In [42]:
df_tax_abn['tax_abnormal'] = 1

In [44]:
df = df_tax_abn[['entid', 'tax_abnormal']]

In [45]:
df_numerical = df[['entid', 'tax_abnormal']].groupby("entid")
df_numerical = df_numerical.count()
df_numerical = df_numerical.reset_index()
df_numerical.head()

      entid  tax_abnormal
0   5503066             1
1  21013823             1
2  21495398             1
3  21798098             1
4  23396983             1

In [46]:
df_numerical.to_csv()

1     253
2      23
3       3
4       2
8       1
9       1
26      1
Name: tax_abnormal, dtype: int64

In [47]:
df_numerical.to_csv(outpath+'tax_abnormal_processed.csv', index = 0)

## drop col with 58% na

In [21]:
# column to drop
df_tax_abn = df_tax_abn.drop(['cdate'], axis=1)
df_tax_abn.iloc[[0,1]]

       entid  tax_type  tax_state  ttype  province
0  722691858         1          0      2         1
1  705310922         1          0      2         1

In [23]:
df_tax_abn.shape

(359, 5)

In [31]:
tax_type_dict = {0: 10, 1:11, 2:12, 3:13, 4: 14}
df_tax_abn = df_tax_abn.replace({"tax_type": tax_type_dict})

In [32]:
tax_state_dict = {0: 1, 1: 2, 2: 3, 3: 4, 4: 5}
df_tax_abn = df_tax_abn.replace({"tax_state": tax_state_dict})

In [33]:
ttype_dict = {1: 100, 2: 200}
df_tax_abn = df_tax_abn.replace({"ttype": ttype_dict})

In [34]:
province_dict = {0:15 , 1:16, 2:17, 3:18, 4: 19,
                5: 20, 6:21, 7:22, 8:23, 9: 24}
df_tax_abn = df_tax_abn.replace({"province": province_dict})

In [40]:
df_tax_abn['tax_represent'] = df_tax_abn['tax_type'] + df_tax_abn['tax_state'] * 10 + \
                        df_tax_abn['ttype'] * 100 # + df_tax_abn['province'] * 1000

In [41]:
df_tax_abn['tax_represent'].value_counts()

10020    185
20020     44
20053     38
10023     34
10049     23
10053     12
20033      9
10021      5
20023      4
10042      2
10019      1
10041      1
10043      1
Name: tax_represent, dtype: int64

In [15]:
df_tax_abn['ttype'].value_counts()

1    264
2     95
Name: ttype, dtype: int64

In [16]:
df_tax_abn['province'].value_counts()

2    198
1     55
5     39
8     22
0     19
3     11
7      7
9      5
4      2
6      1
Name: province, dtype: int64

In [ ]:
df_tax_abn['represent'] = df_tax_abn['tax_type'] + df_tax_abn['tax_state'] * 10 +

## dummy

In [36]:
# change data type
to_objects = ['tax_type','tax_state','ttype','province']

for i in to_objects:
    df_tax_abn[i] = df_tax_abn[i].astype('category', copy=False)
    
# only dummy seletive categorical variable
tax_abn_dum = pd.get_dummies(df_tax_abn[['tax_type','tax_state','ttype','province']])
tax_abn_dum.head(2)

,tax_type_0,tax_type_1,tax_type_2,tax_type_3,tax_type_4,tax_state_0,tax_state_1,tax_state_2,tax_state_3,ttype_1,...,province_0,province_1,province_2,province_3,province_4,province_5,province_6,province_7,province_8,province_9
0,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [37]:
df_tax_abn_dum = pd.concat([df_tax_abn,tax_abn_dum], axis=1)
for i in ['tax_type','tax_state','ttype','province']:
    del df_tax_abn_dum[i]
    
df_tax_abn_dum.head(2)

,entid,tax_type_0,tax_type_1,tax_type_2,tax_type_3,tax_type_4,tax_state_0,tax_state_1,tax_state_2,tax_state_3,...,province_0,province_1,province_2,province_3,province_4,province_5,province_6,province_7,province_8,province_9
0,722691858,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,705310922,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

## create 'count of record'

In [38]:
df_tax_abn_dum['count'] = 1
df_tax_abn_dum.head(2)

,entid,tax_type_0,tax_type_1,tax_type_2,tax_type_3,tax_type_4,tax_state_0,tax_state_1,tax_state_2,tax_state_3,...,province_1,province_2,province_3,province_4,province_5,province_6,province_7,province_8,province_9,count
0,722691858,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,705310922,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [40]:
df_tax_abn_dum['entid'].nunique()

284

In [46]:
df_tax_abn_dum['entid'] = df_tax_abn['entid'].astype('category', copy=False)
df_tax_abn_g = df_tax_abn_dum.groupby('entid').sum()
df_tax_abn_g.head(2).append(df_tax_abn_g.tail(2))

,tax_type_0,tax_type_1,tax_type_2,tax_type_3,tax_type_4,tax_state_0,tax_state_1,tax_state_2,tax_state_3,ttype_1,...,province_1,province_2,province_3,province_4,province_5,province_6,province_7,province_8,province_9,count
entid,,,,,,,,,,,,,,,,,,,,,
5503066,1,0,0,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,0,1
21013823,0,1,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
1227739246,0,0,0,0,1,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
1234077177,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1

In [51]:
df_tax_abn_g['count'].value_counts()

1     253
2      23
3       3
4       2
26      1
9       1
8       1
Name: count, dtype: int64

In [57]:
df_tax_abn_g.loc[212403366]

tax_type_0     0
tax_type_1     0
tax_type_2     1
tax_type_3     0
tax_type_4     1
tax_state_0    1
tax_state_1    1
tax_state_2    0
tax_state_3    0
ttype_1        1
ttype_2        1
province_0     1
province_1     0
province_2     0
province_3     0
province_4     0
province_5     1
province_6     0
province_7     0
province_8     0
province_9     0
count          2
Name: 212403366, dtype: int64

In [58]:
df_tax_abn_g.to_csv(outpath+'tax_abnormal_processed.csv')