In [1]:
import pandas as pd

In [2]:
path = "../Data/Online_Data/trainning_data/corporate_attributes/"
outpath = "../Processed_Data/"

In [3]:
tax_qianshui = pd.read_csv(path+'tax_qianshui.csv')
tax_qianshui.head()

<ipython-input-3-2be01de6fc2d>:1: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  tax_qianshui = pd.read_excel(path+'tax_qianshui.xlsx')

       entid  taxtype debt
0  412086145        4  NaN
1  412086145        5  NaN
2  412086145        4  NaN
3  412086145        5  NaN
4  412086145        4  NaN

In [40]:
tax_qianshui['owe_tax'] = 1

In [42]:
df = tax_qianshui[['entid', 'owe_tax']]

In [48]:
df_numerical = tax_qianshui[['entid', 'owe_tax']].groupby("entid")
df_numerical = df_numerical.count()
df_numerical = df_numerical.reset_index()
df_numerical.head()

      entid  owe_tax
0   5503066        1
1   7377264        1
2  16597636        1
3  20831715        1
4  21798098        2

In [52]:
df_numerical.to_csv(outpath+'tax_qianshui_processed.csv', index = 0)

In [33]:
tax_qianshui['debt'] = tax_qianshui['debt'].apply(lambda x: x.replace('ï', '').replace('¿', '').replace('¥', '') if type(x) is str else x)
tax_qianshui['debt'] = tax_qianshui['debt'].apply(float)

In [34]:
sum_df = tax_qianshui.groupby(['entid','taxtype']).agg({'debt': 'sum'})
sum_df = sum_df.reset_index()
sum_df.columns = ['entid', 'taxtype', 'debt_sum']
sum_df.head()

      entid  taxtype  debt_sum
0   5503066        9       0.0
1   7377264        9       0.0
2  16597636        9   49063.3
3  20831715        9       0.0
4  21798098        6       0.0

In [38]:
count_df = tax_qianshui.groupby(['entid','taxtype']).size()
count_df = count_df.reset_index()
count_df.columns = ['entid', 'taxtype', 'debt_num']
count_df.head()

      entid  taxtype  debt_num
0   5503066        9         1
1   7377264        9         1
2  16597636        9         1
3  20831715        9         1
4  21798098        6         1

In [39]:
count_df['taxtype'].value_counts()

9    87
8    39
6     6
4     4
5     4
1     3
2     3
3     3
7     3
0     2
Name: taxtype, dtype: int64

In [23]:
join_df = pd.merge(sum_df, count_df, on = ['entid', 'taxtype'])
join_df.head()

      entid  taxtype  debt_sum  debt_num
0   5503066        9       0.0         0
1   7377264        9       0.0         0
2  16597636        9   49063.3         1
3  20831715        9       0.0         0
4  21798098        6       0.0         0

In [ ]:
join_df['taxtype']

In [6]:
def process_debt(x):
    if x.isna():
        return 1
    elif x <
tax_qianshui['debt']

274

In [6]:
tax_qianshui['debt'] = tax_qianshui['debt'].fillna(1)

In [10]:
tax_qianshui['debt'].value_counts()

4070.43      2
8340.00      2
67.00        1
106.70       1
407042.51    1
49063.30     1
9148.50      1
109.00       1
18297.00     1
88.66        1
27445.50     1
1891.61      1
12211.28     1
8140.85      1
Name: debt, dtype: int64

In [6]:
tax_qianshui['debt'] = tax_qianshui['debt'].apply(lambda x: x.replace('ï', '').replace('¿', '').replace('¥', '') if type(x) is str else x)
tax_qianshui['debt'] = tax_qianshui['debt'].apply(float)

In [10]:
sum_df = tax_qianshui.groupby(['entid','taxtype']).agg({'debt': 'sum'})
sum_df = sum_df.reset_index()
sum_df.head()

      entid  taxtype     debt
0   5503066        9      1.0
1   7377264        9      1.0
2  16597636        9  49063.3
3  20831715        9      1.0
4  21798098        6      1.0

In [11]:
# tax_qianshui_sum = df[keep_columns].drop_duplicates(subset = 'entid', keep = 'last')
tax_qianshui_dum = pd.get_dummies(sum_df, columns = ['taxtype'])
tax_qianshui_dum.head()

,entid,debt,taxtype_0,taxtype_1,taxtype_2,taxtype_3,taxtype_4,taxtype_5,taxtype_6,taxtype_7,taxtype_8,taxtype_9
0,5503066,1.0,0,0,0,0,0,0,0,0,0,1
1,7377264,1.0,0,0,0,0,0,0,0,0,0,1
2,16597636,49063.3,0,0,0,0,0,0,0,0,0,1
3,20831715,1.0,0,0,0,0,0,0,0,0,0,1
4,21798098,1.0,0,0,0,0,0,0,1,0,0,0

In [12]:
numerical_columns = ['taxtype_0', 'taxtype_1', 'taxtype_2', 'taxtype_3',
       'taxtype_4', 'taxtype_5', 'taxtype_6', 'taxtype_7', 'taxtype_8',
       'taxtype_9']

In [17]:
for column in numerical_columns:
    tax_qianshui_dum[column] = tax_qianshui_dum[column] * tax_qianshui_dum['debt']

In [19]:
def get_numerical_df(df, columns):
    keep_columns = columns + ['entid']
    df_numerical = df[keep_columns].groupby("entid")
    df_numerical = df_numerical.sum()
    df_numerical = df_numerical.reset_index()
    return df_numerical

In [20]:
df_numerical = get_numerical_df(tax_qianshui_dum, numerical_columns)
df_numerical.head()

,entid,taxtype_0,taxtype_1,taxtype_2,taxtype_3,taxtype_4,taxtype_5,taxtype_6,taxtype_7,taxtype_8,taxtype_9
0,5503066,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,7377264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,16597636,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49063.3
3,20831715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,21798098,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [21]:
df_numerical.to_csv(outpath+'tax_qianshui_processed.csv', index = 0)